<% @events = @user.activity_events %>

<%= render :partial => 'layouts/header' %>

<div class="main container">
  <div class="content">
    
    <div class="page-header">
      <p id="notice"><%= notice %></p>

      <div id="profile" class="span12">
        <%= image_tag @user.profile_picture %>
        <h2><a href="<%= @user.url %>"><%= @user.name %></a></h2>
        <p><%= @user.email %></p>
      </div>
    </div>

    <div id="user-feed">
      <h3><%= @user.first_name %>'s Lendmo activity</h3>
      <div class="activity">
        <% if @events.empty? %>
          No lending activity for this user.
        <% else %>
          <%= render :partial => 'posts/feed_item', :collection => @events %>
        <% end %>
      </div>
    </div>
  
  </div>
  
  <footer>
    <p>&copy; AD JZ DG JM</p>
  </footer>
  
  <%= debug session %>
</div>
