<% @events = @user.activity_events %>

<%= render :partial => 'layouts/header' %>

<div class="main container">
  <div class="content">
    
    <div class="page-header">
      <div id="profile" class="span12">
        <%= image_tag @user.profile_picture %>
        <h2><a href="<%= @user.url %>"><%= @user.name %></a></h2>
        <p><%= @user.email %></p>
      </div>
    </div>

    <div class="row">
      <div class="span10">
        <h3><%= @user.first_name %>'s Lendmo activity</h3> <br/>
        <div id="feed">
          <% if @events.empty? %>
            No lending activity for this user.
          <% else %>
            <%= render :partial => 'posts/feed_item', :collection => @events %>
          <% end %>
        </div>
      </div>
      
      <div class="span4 sidebar">
        <h3>Sidebar</h3>
        <div class="sidebar-content">
          Content
        </div>
      </div>
    </div>
  
  </div>
  
  <footer>
    <p>&copy; AD JZ DG JM</p>
  </footer>
  
  <%= debug session %>
</div>
