<% @events = @user.activity_events %>

<%= render :partial => 'layouts/header' %>

<div class="main container">
  <p id="notice"><%= notice %></p>

  <div id="profile" class="span12">
    <%= image_tag @user.profile_picture %>
    <h2><a href="<%= @user.url %>"><%= @user.name %></a></h2>
    <p><%= @user.email %></p>
  </div>
  
  <% render :partial => 'layouts/userbox' %>

  <div id="user-feed">
    <h3><%= @user.first_name %>'s Lendmo activity</h3>
    <div class="activity">
      <% if @events.empty? %>
        No lending activity for this user.
      <% else %>
        <%= render :partial => 'posts/feed_item', :collection => @events %>
      <% end %>
    </div>
  </div>
  
  <%= debug session %>
</div>
