<%= render :partial => 'layouts/header' %>

<div class="main container">
  <p id="notice"><%= notice %></p>

  <div id="profile" class="span12">
    <%= image_tag @user.profile_picture %>
    <h2><a href="<%= @user.url %>"><%= @user.name %></a></h2>
    <p><%= @user.email %></p>
  </div>
  
  <% render :partial => 'layouts/userbox' %>

  <div id="user-feed">
    <h3><%= @user.first_name %>'s Lendmo activity</h3>
    <div class="feed">
      
    </div>
  </div>
  
  <% @user.friends(session[:token]).each do |friend| %>
    <% if User.exists(friend.identifier) %>
      <%= friend.name %> <br/>
    <% end %>
  <% end %>
  
  <%= debug session %>
</div>
