<%= javascript_include_tag "form" %>
<%= javascript_include_tag "bootstrap-tabs" %>
<%= render :partial => 'layouts/header' %>

<div class="main container">
  
  <div class="content">
    <div class="page-header">
      <div id="actions">
        <%= button_tag "GIVE", :id => "lend", :class => "btn large success" %>
        <%= button_tag "GET", :id => "borrow", :class => "btn large success" %>
      </div>
      
      <%= form_for [@user, @item], :html => {:id => "lend-form"} do |form| %>
        <!-- chosen.js insert -->
        <select class="chzn-select" data-placeholder="Choose a friend..." name="borrower_id">
          <option value="">Lend to...</option>
          <% @friends.each do |f| %>
            <option value="<%= f.id %>"><%= f.name %></option>
          <% end %>
        </select>
        <!-- end of chosen.js insert -->
        
        <% form.hidden_field :user_id, :value => @user.id %>
        <%= form.text_field :name, :placeholder => "Item name" %>
        <%= form.text_field :value, :placeholder => "Item value (optional)", :default => "10" %>
        <%= form.submit "Post", :class => "btn default" %>
      <% end %>

      <%= form_for @event, :html => {:id => "borrow-form"} do |form| %>
        <%= form.text_field :item_name, :placeholder => "What would you like to borrow?" %>
        <%= form.submit "Post", :class => "btn default" %>
      <% end %>
    </div>
    
    <div class="row">
      <div class="span10">
        <p id="notice"><%= notice %></p>

        <ul class="tabs" data-tabs='tabs'>
          <li class="active"><a href="#lending">Lending Activity</a></li>
          <li><a href="#owe">What You Owe</a></li>
          <li><a href="#owed">What You Are Owed</a></li>
        </ul>

        <div class='tab-content'>
          <div class='active' id='lending'>
            <div id="feed">
            <% if @events.empty? %>
              No lending activity found among your friends.
            <% else %>
              <%= render :partial => 'posts/feed_item', :collection => @events %>
            <% end %>
            </div>
          </div>
          
          <div id='owe'>
              This is the stuff you owe.
          </div>
          
          <div id='owed'>
              This is stuff that is owed to you.
          </div>
        </div>
      </div> <!-- span10 end -->
      
      <div class="span4 sidebar">
        <h3>Sidebar</h3>
        <div class="sidebar-content">
          Content
        </div>
      </div>
    </div>
  </div>

  <footer>
    <p>&copy; AD JZ DG JM</p>
  </footer>
  
</div> <!-- /container -->
