<% @event = feed_item %>
<% if !@event.lender_id.nil? %>
  <% lender = @event.lender %>
<% end %>
<% borrower = @event.borrower %>

<div class="event">
  <% unless lender.nil? %>
    <%= link_to image_tag(lender.profile_picture), lender %>
    <span class="arrow <%= 'rotate' unless @event.islending? %>">&#10132;</span>      
  <% end %>
  <%= link_to image_tag(borrower.profile_picture), borrower %>
  
  <p class="description"><%= @event.description.html_safe %><br>
  <% if @event.islending? && !lender.nil? %>
  
    <% item = Item.find(@event.item_id) %>
  
    <% if @user.id == borrower.id %>
      <%= link_to "Return item", { :controller => "items", :action => "destroy", :user_id => @user.id, :id => item.id, :event_id => @event.id }, :class => "sub" %>
      &#8226;
      <%= link_to "Pay #{lender.name} back", { :controller => "users", :action => "payback", :user_id => @user.id, :item_id => item.id }, :target => "_blank", :class => "sub" %>
    <% elsif @user.id == lender.id %>
      <%= link_to "Charge #{borrower.name} for item", item.create_venmo_url(current_user), :target => "_blank", :class => "sub" %>
    <% end %>
    
  <% elsif lender.nil? && @user.id != borrower.id %>
    <%= form_for [currentUser, newItem], :class => "mini-lend-form" do |form| %>
      <%= form.hidden_field :borrower_id, :value => borrower.id %>
      <%= form.hidden_field :user_id, :value => currentUser.id %>
      <%= form.hidden_field :name, :value => @event.item_name %>
      <%= form.submit "Lend this item", :class => "mini-lend-link" %>
    <% end %>
  <% end %>
  </p>

  <f class="timestamp"><%= time_ago_in_words(@event.created_at) %> ago</f>

  <ol class="comments">
    <% @event.comments.each do |comment| %>
    <% if !comment.content.nil? %>
    <li>
      <% commenter = comment.commenter %>
      <%= link_to image_tag(commenter.profile_picture), commenter, :class => "comment-profile-pic" %>
      <%= link_to commenter.name, commenter %>
      <p><%= comment.content %></p>
      <f class="timestamp <%= 'own' if current_user?(commenter) %>"><%= time_ago_in_words(@event.created_at) %> ago</f>
      
      <% if current_user?(commenter) %>
        <%= link_to "x", [@event, comment], :method => :delete, :confirm => "You sure?", :title => "Delete this comment", :class => "delete" %>
      <% end %>
    </li>
    <% end %>
    <% end %>
    
    <%= link_to "― Comment ―", "#!", :class => "comment-link" %>
    
    <li>
      <%= form_for([@event, @event.comments.build(:user_id => current_user.id, :event_id => @event.id)]) do |f| %>
        <%= f.text_field :content, :placeholder => "Type your comment here..." %>
        <%= f.submit "Comment", :class => "btn small default" %>
      <% end %>
    </li>
  </ol>
</div>
