<% @event = feed_item %>
<% if !@event.lender_id.nil? %>
  <% lender = @event.lender %>
<% end %>
<% borrower = @event.borrower %>

<div class="event">
  <% unless lender.nil? %>
    <%= link_to image_tag(lender.profile_picture), lender %>
    <span class="arrow <%= 'rotate' unless @event.islending? %>">&#10132;</span>      
  <% end %>
  <%= link_to image_tag(borrower.profile_picture), borrower %>
  
  <p class="description"><%= @event.description %><br>
  <% if @user.id == borrower.id && @event.islending? && !lender.nil?%>
    <% item = Item.find(@event.item_id) %>
    <%= link_to "Return item", { :controller => "items", :action => "destroy", :user_id => @user.id, :id => item.id, :event_id => @event.id }, :class => "sub" %>
    &#8226;
    <%= link_to "Pay #{lender.name} back", item.create_venmo_url(current_user), :target => "_blank", :class => "sub" %>
  <% elsif @event.islending? && !lender.nil? %>
    <% item = Item.find(@event.item_id) %>
    <%= link_to "Charge #{borrower.name} for item", item.create_venmo_url(current_user), :target => "_blank", :class => "sub" %>
  <% end %>
  </p>

  <f class="timestamp"><%= time_ago_in_words(@event.created_at) %> ago</f>

  <ol class="comments">
    <% @event.comments.each do |comment| %>
    <li>
      <% commenter = User.find(comment.user_id) %>
      <%= link_to image_tag(commenter.profile_picture), :class => "comment-profile-pic" %>
      <h1><%= commenter.name %></h1>
      <p><%= comment.content %></p>
      <f class="timestamp"><%= time_ago_in_words(@event.created_at) %> ago</f>
    </li>
    <% end %>
    <li>
      <%= debug current_user %>
      <%= form_for([@event, @event.comments.build(:user_id => current_user.id, :event_id => @event.id)]) do |f| %>
        <% f.hidden_field :user_id, :value => current_user.id %>
        <% f.hidden_field :event_id, :value => @event.id %>
        <div class="field">
          <%= f.text_field :content, :placeholder => "Type your comment here..." %>
          <%= f.submit "Comment", :class => "btn small default" %>
        </div>
      <% end %>
    </li>
  </ol>
</div>
